html {
    height: 100%;
}

#main {
 margin:0 auto;
 float:none;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#main-content{
    flex: 1 0 auto;
    width: 80%;
    align-self: center;
    justify-content: center;
    text-align: justify;
    padding: 16px 48px;
    background-color: white;
    margin-bottom: 16px;
}

footer {
    flex: 0 0 auto;
    height: 25px;
}

#logo {
    width: 15%;
}

.logo-title {
    margin-right: 16px;
}

#search-btn {
    color: white;
    border-color: white;
}

#search-btn:hover {
    color: grey;
    border-color: grey;
    background-color: white;
}

.play-wrapper {
    margin: 16px;
    padding: 8px;
}

.play {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.play-img {
    flex: 0 0 auto;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.play-text {
    padding: 0px 16px;
}

.horizontal-divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #4a4a4a;
}

.height-full {
  height: 100vh;
}